<link rel="import" href="../polymer/polymer-element.html" />
<link rel="import" href="../iron-ajax/iron-ajax.html" />
<link rel="import" href="../paper-spinner/paper-spinner-lite.html" />

<dom-module id="ug-upload-file">
  <template>
    <style>
      :host {
        display: block;
      }

      .none {
        display: none;
      }

      .block {
        display: block;
      }

      paper-spinner-lite.thick {
        --paper-spinner-stroke-width: 6px;
      }

      .botones {
        display: grid;
        grid-template-columns: 1fr 150px;
      }

      .required {
        font-size: 0.6rem;
        color: red;
        font-weight: bold;
      }

      a {
        text-decoration: underline;
        cursor: pointer;
      }

      .wrapper {
        padding: 1rem;
        border: 1px solid #eaeaea;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif,
          'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        text-align: left;
      }

      input[type='file'i]::-webkit-file-upload-button,
      button {
        align-items: flex-start;
        text-align: center;
        cursor: default;
        color: #222;
        box-sizing: border-box;
        padding: 0.25rem 0.6rem 0.35rem;
        border-width: 2px;
        border-style: outset;
        border-image: initial;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif,
          'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        text-align: left;
      }

      input[type='file'i]::-webkit-file-upload-button {
        -webkit-appearance: push-button;
        white-space: nowrap;
        font-size: inherit;
        -webkit-user-modify: read-only;
        margin: 0px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif,
          'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        text-align: left;
      }

      .inputfile {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
      }

      .inputfile-2+label {
        color: #d39539;
        border: 2px solid currentColor;
      }
    </style>
    <section class="wrapper">
      <template is="dom-if" if="[[!hiddenHead]]">
        <div class="phead">
          [[descripcion]]
          <template is="dom-if" if="[[isRequerido]]">
            - <span class="required">(Obligatorio)</span>
          </template>
        </div>
      </template>
      <div class="pbody">
        <span hidden$="[[!workingSpinner]]">
          <paper-spinner-lite class="thick" active="[[workingSpinner]]"></paper-spinner-lite>
        </span>

        <div class="inputSection">
          <div class="botones">
            <div id="divInput">
              <input type="file" id="file0" class="inputfile" on-change="_saveArchivoRA"
                accept="[[extensionesValidas]]" />
              <label for="file0">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17">
                  <path
                    d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z">
                  </path>
                </svg>
                <span>Selecciona un archivo</span></label>
            </div>

            <div id="divShow" class="none">
              <a on-click="_downloadFile">[[nombreArchivo]]</a>
              <template is="dom-if" if="[[isEditable]]">
                <input type="image" on-click="_removeFile" title="Eliminar archivo" width="18" height="18"
                  src="https://findicons.com/files/icons/1580/devine_icons_part_2/128/trash_recyclebin_empty_closed.png" />
              </template>
            </div>

            <template is="dom-if" if="[[multiple]]">
              <button style="margin-left: 2rem;" id="btnAddOther" on-click="_addOther">Agregar otro</button>
            </template>
          </div>
          <div id="extraFiles"></div>
        </div>
      </div>
    </section>

    <iron-ajax id="saveArchivoRAAjax" method="POST" url="[[urlRAArchivo]]" handle-as="json" headers="{{ajaxHeaders}}"
      last-response="{{resSaveArchivoRAAjax}}"></iron-ajax>

    <iron-ajax id="delArchivoRAAjax" method="DELETE" handle-as="json" headers="{{ajaxHeaders}}"
      last-response="{{resDelArchivoRAAjax}}"></iron-ajax>

    <iron-ajax id="downloadArchivoAjax" handle-as="json" last-response="{{resDownloadArchivoAjax}}"></iron-ajax>
  </template>

  <script>
    /**
     * `ug-upload-file`
     * Elemento para la subida de documentos utilizando servicios REST
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class UgUploadFile extends Polymer.Element {
      static get is() {
        return 'ug-upload-file';
      }
      static get properties() {
        return {
          ajaxHeaders: {
            type: Object,
            value: {
              'Content-Type': 'application/json',
              Accept: 'application/json',
              token: 'c2c8f2f2-a015-4fea-b947-b16011da9960',
            },
            readOnly: true
          },
          contentType: String, //RA_Archivo
          countFiles: { type: Number, value: 0, readOnly: true },
          descripcion: String, //RA_Ficha //Conv_Archivo
          extension: { type: String, readOnly: true }, //RA_Ficha //Conv_Archivo
          extensionesValidas: String,
          extraFiles: { type: Object, observer: '_obsExtraFiles', readOnly: true },
          idCampus: Number, //RA_Ficha //Conv_Archivo
          idDepartamento: Number, //RA_Ficha //Conv_Archivo
          idDivision: Number, //RA_Ficha //Conv_Archivo
          idDocumentoRA: Number, //RA_Ficha //Conv_Archivo
          idFichaArchivoRA: Number, //RA_Ficha (res) //Conv_Archivo
          idModalidadArchivo: Number, //Conv_Anexos
          idRegistroTabla: Number, //Conv_Archivo
          idResponsable: String, //Conv_Archivo
          idServicioIntranet: String, //RA_Ficha
          idTabla: Number, //Conv_Archivo
          ip: String, //RA_Ficha //Conv_Archivo
          isEditable: { type: Boolean, value: false },
          isRequerido: { type: Boolean, value: false },
          multiple: { type: Boolean, value: false },
          nombreArchivo: String, //RA_Ficha  //Conv_Archivo
          nombreFisico: String, //RA_Ficha //Conv_Archivo
          nua: String, //RA_Ficha
          nue: String, //RA_Ficha
          produccion: { type: Boolean, value: false },
          resSaveArchivoRAAjax: { type: Object },
          resDelArchivoRAAjax: { type: Object },
          resDownloadArchivoAjax: { type: Object },
          saveInAnexo: { type: Boolean, value: false },
          uuid: { type: String, observer: '_obsUUID' }, //RA_Archivo (res)  //Conv_Archivo
          urlRAArchivo: { type: String, readOnly: true },
          version: String, //RA_Ficha
          versionado: { type: Boolean, value: false }, //RA_Ficha
          hiddenHead: { type: Boolean, value: false },
          workingSpinner: { type: Boolean, value: false, readOnly: true },
        };
      }

      static get observers() {
        return [
          '_obsResSaveArchivoRAAjax(resSaveArchivoRAAjax)',
          '_obsResDelArchivoRAAjax(resDelArchivoRAAjax)',
          '_obsResDownloadArchivoAjax(resDownloadArchivoAjax)',
        ];
      }

      ready() {
        super.ready();
        if (this.produccion) {
          this._setUrlRAArchivo('https://www.administrativos.ugto.mx/ServiciosRest/api/Ra_Archivo'); //PRD
        } else {
          this._setUrlRAArchivo('https://intranet2.ugto.mx/Servicios/api/Ra_Archivo'); //DEV
        }
      }

      _obsExtraFiles() {
        if (this.extraFiles != null && this.extraFiles.length > 0) {
          for (let i = 0; this.extraFiles.length > i; i++) {
            this._addExtraFile(this.extraFiles[i].nombreArchivo, this.extraFiles[i].uuid);
          }
        }
      }

      _obsUUID() {
        if (this.uuid != null && this.uuid != '') {
          var di = this.$.divInput;
          di.classList.remove('block');
          di.classList.add('none');
          var ds = this.$.divShow;
          ds.classList.remove('none');
          ds.classList.add('block');
        } else {
          var di = this.$.divInput;
          di.classList.remove('none');
          di.classList.add('block');
          var ds = this.$.divShow;
          ds.classList.remove('block');
          ds.classList.add('none');
        }
      }

      b64toBlob(b64Data, contentType = 'application/octet-stream', sliceSize = 512) {
        const byteCharacters = atob(b64Data);
        const byteArrays = [];

        for (let offset = 0; offset < byteCharacters.length; offset += sliceSize) {
          const slice = byteCharacters.slice(offset, offset + sliceSize);
          const byteNumbers = new Array(slice.length);
          for (let i = 0; i < slice.length; i++) {
            byteNumbers[i] = slice.charCodeAt(i);
          }
          const byteArray = new Uint8Array(byteNumbers);
          byteArrays.push(byteArray);
        }

        const blob = new Blob(byteArrays, { type: contentType });
        return new Promise((resolve, reject) => {
          resolve(blob);
        });
      }

      _obsResDownloadArchivoAjax() {
        if (this.resDownloadArchivoAjax != null) {
          var nombreArchivo = this.resDownloadArchivoAjax.Ra_Ficha.nombre_archivo;
          var that = this;
          this.b64toBlob(this.resDownloadArchivoAjax.Docto, this.resDownloadArchivoAjax.ContentType).then((blob) => {
            that._setWorkingSpinner(false);
            var link = window.document.createElement('a');

            link.setAttribute('href', window.URL.createObjectURL(blob));
            link.setAttribute('download', nombreArchivo);
            link.setAttribute('target', '_blank');

            // Append anchor to body.
            document.body.appendChild(link);

            link.click();
            // Remove anchor from body
            document.body.removeChild(link);
          });
        }
      }

      _obsResSaveArchivoRAAjax() {
        if (this.resSaveArchivoRAAjax != undefined && this.resSaveArchivoRAAjax != null) {
          this.uuid = this.resSaveArchivoRAAjax.ID;
          this.idFichaArchivoRA = this.resSaveArchivoRAAjax.id_ficha;
          //this._saveArchivoConv();
          this.dispatchEvent(
            new CustomEvent('file-uploaded', {
              bubbles: true,
              composed: true,
              detail: {
                descripcion: this.descripcion,
                extension: this.extension,
                idCampus: this.idCampus,
                idDepartamento: this.idDepartamento,
                idDivision: this.idDivision,
                idDocumentoRA: this.idDocumentoRA,
                idFichaArchivoRA: this.idFichaArchivoRA,
                idModalidadArchivo: this.idModalidadArchivo,
                idRegistroTabla: this.idRegistroTabla,
                idResponsable: this.idResponsable,
                idServicioIntranet: this.idServicioIntranet,
                idTabla: this.idTabla,
                ip: this.ip,
                nombreArchivo: this.nombreArchivo,
                nombreFisico: this.nombreFisico,
                nua: this.nua,
                nue: this.nue,
                uuid: this.uuid,
              },
            })
          );
        }
        this._setWorkingSpinner(false);
      }

      _obsResDelArchivoRAAjax() {
        if (this.resDelArchivoRAAjax != null) {
          this.dispatchEvent(
            new CustomEvent('file-deleted', {
              bubbles: true,
              composed: true,
              detail: { uuid: this.uuid, nombreArchivo: this.nombreArchivo },
            })
          );
          this._setWorkingSpinner(false);
          this.shadowRoot.querySelector('.inputfile').value = '';
        }
      }

      resetComponent() {
        this.idFichaArchivoRA = undefined;
        this.nombreArchivo = undefined;
        this.nombreFisico = undefined;
        this.nua = undefined;
        this.nue = undefined;
        this.uuid = undefined;
        this._setUrlRAArchivo(undefined);
        this.shadowRoot.querySelector('#file0').files = null;
      }

      _downloadFile() {
        this._setWorkingSpinner(true);
        let ajaxDownload = this.shadowRoot.querySelector('#downloadArchivoAjax');
        ajaxDownload.url = this.urlRAArchivo + '/' + this.uuid;
        ajaxDownload.generateRequest();
      }

      _addOther() {
        this._setCountFiles(this.countFiles + 1);
        var d = document.createElement('div');
        d.setAttribute('id', 'div' + this.countFiles);
        d.setAttribute('class', 'botones');
        var btnDelete = document.createElement('input');
        btnDelete.setAttribute('type', 'image');
        btnDelete.setAttribute('id', 'btnImg' + this.countFiles);
        btnDelete.setAttribute(
          'src',
          'https://findicons.com/files/icons/1580/devine_icons_part_2/128/trash_recyclebin_empty_closed.png'
        );
        btnDelete.setAttribute('title', 'Quitar archivo');
        btnDelete.setAttribute('width', '18');
        btnDelete.setAttribute('height', '18');
        btnDelete.addEventListener('click', this._removeInput.bind(this));
        var e = document.createElement('ug-upload-file');
        e.setAttribute('descripcion', this.descripcion);
        e.setAttribute('id-registro-tabla', this.idRegistroTabla);
        e.setAttribute('ip', this.ip);
        e.setAttribute('id-division', this.idDivision);
        e.setAttribute('id-campus', this.idCampus);
        e.setAttribute('id-departamento', this.idDepartamento);
        e.setAttribute('id-documento-r-a', this.idDocumentoRA);
        e.setAttribute('id-modalidad-archivo', this.idModalidadArchivo);
        e.setAttribute('id-responsable', this.idResponsable);
        e.setAttribute('id-tabla', this.idTabla);
        e.setAttribute('id-servicio-intranet', this.idServicioIntranet);
        e.setAttribute('save-in-anexo', this.saveInAnexo);
        e.setAttribute('nue', this.nue);
        e.setAttribute('extensiones-validas', this.extensionesValidas);
        e.setAttribute('hidden-head', true);
        if (this.isEditable === true) {
          e.setAttribute('is-editable', 'true');
        }
        else {
          e.removeAttribute('is-editable');
        }
        if (this.isRequerido === true) {
          e.setAttribute('is-requerido', 'true');
        }
        else {
          e.removeAttribute('is-requerido');
        }
        if (this.produccion === true) {
          e.setAttribute('produccion', 'true');
        }
        else {
          e.removeAttribute('produccion');
        }
        d.appendChild(e);
        d.appendChild(btnDelete);
        this.shadowRoot.querySelector('#extraFiles').appendChild(d);
      }

      _addExtraFile(name, uuid) {
        this._setCountFiles(this.countFiles + 1);
        var d = document.createElement('div');
        d.setAttribute('id', 'div' + this.countFiles);
        d.setAttribute('class', 'botones');
        var btnDelete = document.createElement('input');
        btnDelete.setAttribute('type', 'image');
        btnDelete.setAttribute('id', 'btnImg' + this.countFiles);
        btnDelete.setAttribute(
          'src',
          'https://findicons.com/files/icons/1580/devine_icons_part_2/128/trash_recyclebin_empty_closed.png'
        );
        btnDelete.setAttribute('title', 'Quitar archivo');
        btnDelete.setAttribute('width', '18');
        btnDelete.setAttribute('height', '18');
        btnDelete.addEventListener('click', this._removeInput.bind(this));
        var e = document.createElement('ug-upload-file');
        e.setAttribute('descripcion', this.descripcion);
        e.setAttribute('ip', this.ip);
        e.setAttribute('id-division', this.idDivision);
        e.setAttribute('id-campus', this.idCampus);
        e.setAttribute('id-departamento', this.idDepartamento);
        e.setAttribute('id-documento-r-a', this.idDocumentoRA);
        e.setAttribute('id-modalidad-archivo', this.idModalidadArchivo);
        e.setAttribute('id-responsable', this.idResponsable);
        e.setAttribute('id-tabla', this.idTabla);
        e.setAttribute('id-servicio-intranet', this.idServicioIntranet);
        e.setAttribute('save-in-anexo', this.saveInAnexo);
        e.setAttribute('nue', this.nue);
        e.setAttribute('visible-p-head', true);
        e.setAttribute('nombre-archivo', name);
        e.setAttribute('uuid', uuid);
        e.setAttribute('extensiones-validas', this.extensionesValidas);
        e.setAttribute('hidden-head', true);
        if (this.isEditable === true) {
          e.setAttribute('is-editable', 'true');
        }
        else {
          e.removeAttribute('is-editable');
        }
        if (this.isRequerido === true) {
          e.setAttribute('is-requerido', 'true');
        }
        else {
          e.removeAttribute('is-requerido');
        }
        if (this.produccion === true) {
          e.setAttribute('produccion', 'true');
        }
        else {
          e.removeAttribute('produccion');
        }
        d.appendChild(e);
        d.appendChild(btnDelete);
        this.shadowRoot.querySelector('#extraFiles').appendChild(d);
      }

      _removeInput(e) {
        var idItem = e.target.id;
        var idx = Number(idItem.substring(6, idItem.length));
        this.shadowRoot.querySelector('#extraFiles').removeChild(this.shadowRoot.querySelector('#div' + idx));
        var btnDelete = document.createElement('input');
        btnDelete.setAttribute('type', 'file');
        btnDelete.setAttribute('id', 'file' + idx);
      }

      _removeFile() {
        //Eliminando ArchivoRA
        this._setWorkingSpinner(true);
        let ajaxDelAchivoRA = this.shadowRoot.querySelector('#delArchivoRAAjax');
        ajaxDelAchivoRA.url = this.urlRAArchivo + '/' + this.uuid;
        ajaxDelAchivoRA.generateRequest();
        var di = this.$.divInput;
        di.classList.remove('none');
        di.classList.add('block');
        var ds = this.$.divShow;
        ds.classList.remove('block');
        ds.classList.add('none');
      }

      _saveArchivoRA(e) {
        if (this.shadowRoot.querySelector('.inputfile').value != '') {
          console.log(this);
          this._setWorkingSpinner(true);
          var idItem = e.target.id;
          var idx = Number(idItem.substring(6, idItem.length));
          var file = this.shadowRoot.querySelector('#' + idItem).files[0];
          if (idx == 0) {
            idx = Number(idItem.substring(4, idItem.length));
          }
          if (file != undefined && file != null) {
            var reader = new FileReader();
            var that = this;
            var fileName = file.name;
            this.nombreFisico = fileName;
            this.nombreArchivo = fileName;
            this.contentType = file.type;
            if (fileName.lastIndexOf('.') > 0) {
              this._setExtension(fileName.substring(fileName.lastIndexOf('.'), fileName.length));
            }
            reader.readAsDataURL(file);
            var that = this;
            reader.onload = function () {
              var BASE64_MARKER = ';base64,';
              var base64Index = reader.result.indexOf(BASE64_MARKER) + BASE64_MARKER.length;
              var base64 = reader.result.substring(base64Index);
              var objJson = {
                ContentType: that.contentType,
                Docto: base64,
                Ra_Ficha: {
                  id_documento: that.idDocumentoRA,
                  nua: that.nua,
                  nue: that.nue,
                  descripcion: that.descripcion,
                  nombre_fisico: that.nombreFisico,
                  nombre_archivo: that.nombreArchivo,
                  extension: that.extension,
                  ip: that.ip,
                  id_campus: that.idCampus,
                  id_division: that.idDivision,
                  id_departamento: that.idDepartamento,
                  id_servicio_intranet: that.idServicioIntranet,
                },
              };
              var ajaxx = that.shadowRoot.querySelector('#saveArchivoRAAjax');
              ajaxx.body = objJson;
              ajaxx.generateRequest();
            };
            reader.onerror = function (error) {
              console.log('Error for file Base64: ', error);
              that._setWorkingSpinner(false);
            };
          }
        }
      }
    }

    window.customElements.define(UgUploadFile.is, UgUploadFile);
  </script>
</dom-module>